body{
    margin:0px;
    padding:0px;
    font-weigth:normal;
    font-family:verdana,Arial,Helvetica
    background-color: white;
    display: block;
   width: max-width ;
   height: max-height
        }
#navbar{
    width:100%;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
        
        
        }
#main { 
    margin: auto;  
    width: 70%;  
    margin-top: 100px; 
    background-color: #F3F3F3; 
    box-shadow: 0px 0px 30px black; 
    border-radius: 10px;  
    text-align:center;  
    padding-top: 10px;  
    padding-bottom: 40px;  }

#output {
    position: relative;
    align-content: center;
    padding: inherit;
    margin-top: 30px;
   
    background-size: cover;
    box-shadow: 0px opx 30px #1c3a3c59;
    border-radius: 10px;
}
table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal normal;
}

tbody

td{
  background-color: rgb(115, 113, 115);
  background="../images/Bg.gif";
        }
td,th {
    display: table-cell;
    vertical-align: inherit;
        }

#bg{
   text-align: -webkit-right;
    background-color: rgb(101, 147, 181);
    width: 253px;
    background-image: url(../images/Bg.gif);
        }
.Date{
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
    color : white;
    font-family: "Comic Sans MS", Verdana, Arial,Helvetica, sans-serif;
        
        }
#table{
        margin: auto;  
    width: 70%;  
    margin-top: 100px; 
    background-color: #F3F3F3; 
    box-shadow: 0px 0px 30px black; 
    border-radius: 10px;  
    text-align:center;  
    padding-top: 10px;  
    padding-bottom: 40px;}
label { 
    display: block; 
    width: 150px; 
    float:left;  
    margin-left: 130px; 
    position: relative; 
   font-family: Merienda One; 
    text-shadow: 1px 1px 2px #2C2235;  
    font-size: 100%;
  
    top: 3px;  }
#hc {
    align-items: center;
    padding-left: 30px;
    font-size: 100%;
    font-family: -webkit-body;  }
h1 { 
    font-family: Merienda One; 
    text-shadow: 1px 1px 2px #2C2235;  
    font-size: 170%; }
form { 
    font-family: Port Lligat Slab;  
    text-shadow: 1px 1px 2px white;  
    text-align: left;
    padding-right:10px;
    width:100px;
    }

#up{ 
    position:relative;  
    top: 30px; 
    width: 120px;  
    background-image: -webkit-linear-gradient(#1663b3, #4e6a92);  
    color: white;  
    border: none; 
    padding-right:0px;
    border-radius: 3px;  
    box-shadow: 1px 1px 7px black; 
    font-size: 100%; 
    font-weight:bold; 
    padding-left: 20px;
    
    }
#down {
    position:relative;  
    left:20%;
    top: 23px; 
    width: 120px;  
    background-image: -moz-linear-gradient(#B31A16, #FF521E);  
     background-image: -webkit-linear-gradient(#1663b3, #4e6a92); 
    color: white;  
    border: none; 
    padding-right:20px;
    border-radius: 3px;  
    box-shadow: 1px 1px 7px black; 
    font-size: 130%; 
    font-weight:bold; 
        }
#up:hover { 
    background-image: -moz-linear-gradient(#FF521E, #B31A16);  
    background-image: -webkit-linear-gradient(#FF521E, #B31A16);  
    color: white;  
    font-weight: bold;  
    border: none; 
    border-radius: 3px;  
    box-shadow: 1px 1px 2px black; }

#down:hover { 
    background-image: -moz-linear-gradient(#FF521E, #B31A16);  
    background-image: -webkit-linear-gradient(#FF521E, #B31A16);  
    color: white;  
    font-weight: bold;  
    border: none; 
    border-radius: 3px;  
    box-shadow: 1px 1px 2px black; }

.succes li {
    background-image: -moz-linear-gradient(#B7FF4F, #6CD043);
    background-image: -webkit-linear-gradient(#B7FF4F, #6CD043); }
.error li {
    background-image: -moz-linear-gradient(#F43600, #D83C31);
    background-image: -webkit-linear-gradient(#F43600, #D83C31); }
.fichiers {
    text-align: left;
    list-style-type: circle;
    font-family: Port Lligat Slab;
